* {
    margin: 0;
    padding: 0;
}

:root{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}

button {
    background-color: lightgray;
    width: 3.5em;
    height: 3.5em;
    font-size: 2em;
    font-weight: bolder;
    margin: 0.125em;
}

#winner {
    font-size: 3em;
    text-align: center;
    margin: 0.4em;
}